// css components
article.text {
    text-align: justify;
    word-break: break-word;
    & > div {
        margin: 15px 0;
        width: 100% !important;
        img {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    }
    .wp-caption-text {
        text-align: center;
        box-sizing: border-box;
        font-size: 14px;
        font-style: italic;
        line-height: 1.5;
        margin: 10px 0 20px 0;
        color: rgba(0, 0, 0, 0.795);
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        word-break: break-word;
    }

    ul {
        list-style-type: disc;
        margin: 0 0 0px 20px;
    }
    ol {
        list-style-type: decimal;
        margin: 0 0 0px 20px;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    b,
    strong {
        font-weight: 700;
    }
    a {
        text-decoration: underline;
    }
    cite,
    dfn,
    em,
    i {
        font-style: italic;
    }
    h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    h4 {
        display: block;
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    h5 {
        display: block;
        font-size: 0.83em;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    h6 {
        display: block;
        font-size: 0.67em;
        margin-block-start: 2.33em;
        margin-block-end: 2.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    table {
        display: table;
        border-collapse: separate;
        box-sizing: border-box;
        text-indent: initial;
        border-spacing: 2px;
    }
}
