// css button, title, icon, elements...
img {
    max-width: 100%;
}
.title {
    text-align: center;
    h1,
    h2 {
        text-transform: uppercase;
        font-family: rr;
        font-size: 40px;
        font-weight: 600;
        color: $bg-main;
        display: initial;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, -50%);
            display: inline-flex;
            width: 100%;
            height: 1px;
            bottom: -4px;
            background: $bg-main-red;
        }
    }
    @include sm {
        h1,
        h2 {
            font-size: 28px;
        }
    }
    @include xs {
        h1,
        h2 {
            font-size: 24px;
        }
    }
}
.btn-main {
    a {
        display: inline-block;
        padding: 13px 29px;
        background: transparent;
        border: 1px solid $color-main;
        text-decoration: none;
        font-size: 16px;
        @include transition($t);
        background: $bg-light;
        color: $color-main;
        position: relative;
        overflow: hidden;
        z-index: 99;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: $color-main;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            @include transform(scaleX(0));
            @include transform-origin(left center);
            @include transition($t cubic-bezier(0.82, 0.44, 0.23, 0.86));
        }
        &:hover {
            color: $color-text-light;
            transition: 0.3s;
            &::after {
                @include transform(scaleX(1));
                @include transform-origin(right center);
                @include transition($t cubic-bezier(0.82, 0.44, 0.23, 0.86));
            }
        }
    }
}
.btn-more {
    display: inline-block;
    padding: 13px 29px;
    background: transparent;
    border: 1px solid $color-main;
    text-decoration: none;
    font-size: 16px;
    @include transition($t);
    background: $bg-light;
    color: $color-main;
    &:hover {
        @include transition($t);
        background: $color-main;
        color: $bg-light;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    }
}
