// css footer
.footer {
    border-top: 1px solid #eee;
    padding-top: 50px;
    .container {
        padding-bottom: 50px;
    }
    .footer-items{
        &:nth-child(2), &:nth-child(3) {
            .footer__item-title{
                font-size: 18px;
                display: flex;
                align-items: center;
            }
        }
    }
    &__item {
        &-title {
            min-height: 56px;
            @include text(24px, rb, 28px, $color-main, uppercase);
            
        }
        &-list {
            li {
                display: flex;
                align-items: center;
                justify-content: start;
                margin: 15px 0;
                .icon {
                    width: 3%;
                    @include mid(true);
                    i {
                        color: $color-main;
                        font-size: 20px;
                    }
                }
                a {
                    width: 96%;
                    margin-left: 15px;
                    @include text(16px, rr, 24px, $color-text, initial);
                    text-decoration: none;
                }
                &:first-child {
                    margin-top: 30px;
                }
            }
        }
        &.quick-link {
            .footer__item-list {
                li {
                    align-items: center;
                    .icon {
                        i {
                            font-size: 9px;
                            color: $color-text;
                        }
                    }
                    a {
                        font-size: 14px;
                        @include transition($t);
                        &:hover {
                            @include transition($t);
                            color: $color-main;
                        }
                    }
                }
            }
        }
        &-social {
            margin-top: 30px;

            .btn-social {
                text-decoration: none;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: $color-text-light;
                @include mid(true);
                margin-right: 20px;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
                @include transition($t);
                i {
                    font-size: 20px;
                }
                &.fb {
                    background-color: #3b5998;
                }
                &.ins {
                    background: #d6249f;
                    background: radial-gradient(
                        circle at 30% 107%,
                        #fdf497 0%,
                        #fdf497 5%,
                        #fd5949 45%,
                        #d6249f 60%,
                        #285aeb 90%
                    );
                }
                &:hover {
                    @include transition($t);
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
    .copy-right {
        background-color: $bg-main;
        padding: 40px 0;
        margin: 0 auto;
        p {
            text-align: center;
            display: block;
            @include text(16px, rr, 24px, $color-text-light, capitalize);
        }
    }
    @include sm {
        .container {
            padding-bottom: 10px;
        }
        &__item {
            margin-bottom: 30px;
            &-title {
                min-height: initial;
            }
            &-social {
                margin-top: 20px;
            }
            li {
                &:first-child {
                    margin-top: 20px;
                }
            }
        }
        .copy-right {
            padding: 20px 0;
        }
    }
}
