// css header

// css navigator (Menu)
//header
header {
    --heightHeader: 80px;
    width: 100%;
    height: var(--heightHeader);
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 300;
    color: $color-main;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    @include transition($t);

    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            a {
                display: block;
                text-decoration: none;
                img {
                    width: 110px;
                }
            }
        }
        .menu-desk {
            height: 100%;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                width: 100%;
                height: 100%;
                @include transition($t);

                & > a {
                    height: 100%;
                    text-decoration: none;
                    font-weight: 500;
                    border-top: 1px solid rgb(245, 245, 245);
                    margin: 0 18px;
                    overflow: hidden;
                    position: relative;
                    white-space: nowrap;
                    @include mid(true);
                    @include transition($t);
                    @include text(16px, rr, normal, $color-main, uppercase);
                    i {
                        display: none;
                    }
                    &::after {
                        display: none;
                        content: "";
                        width: 100%;
                        height: 2px;
                        background-color: $color-main;
                        position: absolute;
                        left: 0;
                        bottom: 24px;
                        @include transform(scaleX(0));
                        @include transform-origin(left center);
                        @include transition(
                            $t cubic-bezier(0.82, 0.44, 0.23, 0.86)
                        );
                    }
                    &:hover {
                        color: $color-main;
                        font-weight: 600;
                        @include transition($t);
                        &::after {
                            @include transform(scaleX(1));
                            @include transform-origin(right center);
                            @include transition(
                                $t cubic-bezier(0.82, 0.44, 0.23, 0.86)
                            );
                        }
                    }
                    &.active {
                        color: $color-main;
                        font-weight: 600;
                        @include transition($t);
                    }
                }

                .wrapul {
                    position: absolute;
                    transition: all 0.3s ease-in-out;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    list-style: none;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
                    background-color: #fff;
                    top: 90px;
                    z-index: 9999;
                    ul {
                        width: auto;
                        li.menu-item {
                            display: block;
                            position: relative;
                            background-color: #fff;
                            a {
                                display: block;
                                transition: all 0.2s ease-in-out;
                                max-width: 100%;
                                font-size: 14px;
                                color: $color-text;
                                line-height: 30px;
                                padding: 10px 15px;
                                margin: 0;
                                text-transform: uppercase;
                                font-weight: 500;
                                @include transition($t);
                                &::after {
                                    display: none;
                                }
                            }
                            &:hover {
                                a {
                                    @include transition($t);
                                    font-weight: 600;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
                &:hover {
                    a {
                        font-weight: 600;
                        @include transition($t);
                    }
                    .wrapul {
                        opacity: 1;
                        visibility: visible;
                        top: 80px;
                        pointer-events: auto;
                    }
                }

                @include sm {
                    .wrapul {
                        position: initial;
                        transition: all 0.3s ease-in-out;
                        display: none;
                        opacity: 1 !important;
                        visibility: visible !important;
                        list-style: none;
                        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
                        background-color: #fff;
                        z-index: 9999;
                        top: 0 !important;
                        ul {
                            width: 100%;
                            li.menu-item {
                                display: block;
                                position: relative;
                                a {
                                    display: block;
                                    transition: all 0.2s ease-in-out;
                                    max-width: 100%;
                                    font-size: 14px;
                                    color: $color-text;
                                    line-height: 30px;
                                    padding: 10px 60px;
                                    margin: 0;
                                    text-transform: uppercase;
                                    font-weight: 500;
                                    &::after {
                                        display: none;
                                    }
                                }
                                &:hover {
                                    a {
                                        margin-left: 0px;
                                    }
                                }
                            }
                        }
                    }
                }

                &.active {
                    font-weight: 600;
                    &.nohover:hover {
                        background: red;
                        .wrapul {
                            opacity: 0 !important;
                            visibility: hidden !important;
                            top: 0px !important;
                        }
                    }
                    .icon {
                        i {
                            transform: rotate(90deg) !important;
                        }
                    }
                }
            }
        }
        .right {
            height: 100%;
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            .search {
                display: inline-flex;
                position: absolute;
                z-index: 999;
                background: #fff;
                border: 1px solid #eee;
                // box-shadow: 5px 6px 12px 1px rgba(0, 0, 0, 0.02);
                border-radius: 40px;
                padding: 5px;
                form {
                    display: inline-flex;
                }
            }
            .search:hover > form .search-input,
            .search > form .search-input:focus {
                width: 200px;
                padding: 0 6px 0 10px;
                @include xs{
                    width: 112px;
                }
            }

            .search:hover > .search-btn {
                background: white;
            }
            .open {
                width: 240px;
                padding: 0 6px 0 10px;
            }

            .search-btn {
                color: $color-main;
                float: right;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.4s;
                text-decoration: none;
                i {
                    font-size: 25px;
                }
            }

            .search-input {
                border: none;
                background: none;
                outline: none;
                float: left;
                padding: 0;
                color: $color-text;
                font-size: 16px;
                transition: 0.4s;
                line-height: 40px;
                width: 0px;
            }

            .search-box {
                width: 100%;
                height: 100%;
                box-shadow: none;
                border: none;
                background: transparent;
                color: #fff;
                // padding: 20px 100px 20px 45px;
                font-size: 40px;
                &:focus {
                    outline: none;
                }
            }

            .search-button {
                width: 60px;
                // height: 80px;
                display: block;
                position: absolute;
                right: 0;
                top: 0px;
                padding: 10px;
                cursor: pointer;
            }
            .btn-menu {
                display: none;
                height: 100%;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
                cursor: pointer;
                .hamburger-menu,
                .hamburger-menu:after,
                .hamburger-menu:before {
                    width: 40px;
                    height: 2px;
                }

                .hamburger-menu {
                    position: relative;
                    background: $color-text;
                    transition: all 0.1s;

                    &.clicked {
                        background: rgba(255, 255, 255, 0);
                    }
                }

                .hamburger-menu:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 10px;
                    background: $color-text;
                    transition: bottom 0.1s cubic-bezier(0.65, 0.29, 0.32, 0.49),
                        transform 0.1s cubic-bezier(0.65, 0.29, 0.32, 0.49);
                }

                .hamburger-menu:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 10px;
                    background: $color-text;
                    transition: top 0.1s cubic-bezier(0.65, 0.29, 0.32, 0.49);
                }

                .hamburger-menu.clicked:after {
                    top: 0;
                    transform: rotate(45deg);
                    transition: top 0.1s cubic-bezier(0.65, 0.29, 0.32, 0.49);
                }

                .hamburger-menu.clicked:before {
                    bottom: 0;
                    transform: rotate(-45deg);
                    transition: bottom 0.1s cubic-bezier(0.65, 0.29, 0.32, 0.49);
                }
            }
        }
        .menu-mb {
            display: none;
        }
    }

    &.bg-header {
        background: $bg-dark;
        @include transition($t);
    }
    @include xs {
        // CSS responsive mobile
        //show menu mb
        --heightHeader: 60px;
        .search:hover > .search-input,
        .search > .search-input:focus {
            width: 120px !important;
        }
        .btn-menu {
            display: flex;
        }
    }
    @include sm {
        // CSS responsive tablet

        .logo {
            z-index: 99999;
            img {
                width: 80px !important;
            }
        }
        .search {
            z-index: 999;
            .search-btn {
                i {
                    color: $color-text;
                }
            }
        }
        .menu-desk {
            width: 100vw;
            height: 100vh !important;
            background-color: #fff !important;
            transition: 0.3s;
            @include transform(initial);
            left: -1000px;
            @include mid(initial);
            z-index: 200;
            @include transition(
                opacity 0.3s cubic-bezier(0.65, 0.29, 0.32, 0.49)
            );
            display: block !important;
            justify-content: flex-start !important;
            align-items: flex-start !important;
            position: absolute;
            top: var(--heightHeader) !important;
            @include transition($t);

            li {
                width: 100%;
                text-align: initial;
                height: initial !important;
                a {
                    padding: 10px 40px;
                    height: initial !important;
                    margin: 0px !important;
                    justify-content: space-between !important;
                    color: $color-text !important;
                    i {
                        display: block !important;
                        @include transition($t);
                    }
                    &:last-child {
                        border-bottom: 1px solid #f5f5f5;
                    }
                    &::after {
                        display: none;
                    }
                    &:hover {
                        color: $color-main;
                        transition: 0.3s;
                    }
                }
                .wrapul {
                    ul {
                        li {
                            a {
                                padding: 5px 60px !important;
                            }
                        }
                    }
                }
            }
        }
        .right {
            .search {
                position: unset !important;
            }
        }
        .btn-menu {
            display: flex !important;
            z-index: 999;
        }
    }
}

// show-menu-mobile
.show-menu-mobile {
    li {
        background-color: #fff;
    }
    left: 0 !important;
    @include transition($t);
}

.active-menu-desk {
    color: $color-main !important;

    &::after {
        @include transform(scaleX(1) !important);
    }
}
