// $color-main: #0099ff;
// $bg-main: #0099ff;
$color-main: #218AB9;
$bg-main: #218AB9;
$bg-main-red: #EF1923;
$color-text-dark: #010101;
$color-text-light: #fff;
$color-text: #212529;
$color-text-des: #929292;
$bg-dark: #000;
$bg-light: #fff;

/*primary colors*/
$white-cl: #fff;
$black-cl: #000;

/*global text color*/
$text-cl: #222;
$text-black-cl: #000;

/*global bg color*/
$main-bg-cl: #000;
$black-bg-cl: #000;

// timing transition
$t: 0.3s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

/*font families*/
$font-stack: "Open Sans", sans-serif;
$font-main: 'arial';

/*headings typo*/
$fz-text: 16px;
$lh-text: normal;

$fz-text-m: 16px;
$lh-text-m: normal;

//============================================================//

/*BOXED LAYOUT*/
$max-width: 1920px;
$container-max-width: $max-width;
$container-width: 1200px; // tùy thuộc vào container của bản thiết kế mà chỉnh sửa cho hợp lý

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop


