main {
	.new-details {
		&__top {
			margin: 30px 0 30px 0;
			.breadcrumb {
				&__nav {
					display: flex;
					&-item {
						@include text(16px, rr, normal, $color-main, uppercase);
						span {
							@include text(16px, rr, normal, $color-main, uppercase);
						}
						.link-item {
							text-decoration: none;
							@include text(16px, rr, normal, $color-main, uppercase);
							@include transition($t);
							&:hover {
								color: $color-text-des;
								@include transition($t);
							}
						}
					}
				}
			}
		}
		&__item {
			&-header {
				.title {
					text-align: left;
					h1 {
						text-align: left;
						&::before {
							display: none;
						}
					}
				}
				.time {
					color: $color-text-des;
					font-style: italic;
					font-size: 14px;
					font-family: ri;
					margin: 10px 0;
				}
			}
			&-body {
				img {
					display: flex;
					justify-content: center;
					align-items: center;
                    object-fit: cover;
                    margin: 15px auto;
				}
			}
			&-footer {
				margin: 30px 0;
				.share {
					border-left: none;
					padding-left: 0;
					span {
						color: $color-main;
					}
				}
			}
		}
	}
	.news-other {
		border-top: 1px solid #eee;
		padding-top: 40px !important;
		.title {
			width: 100%;
			margin-bottom: 30px;
			text-align: left;
			position: relative;
			h2 {
				width: 100%;
				display: inline;
				background-color: #fff;
				z-index: 99;
				&::before {
					display: none;
				}
			}
			&::before {
				content: '';
				position: absolute;
				z-index: 1;
				left: 0;
				bottom: 12px;
				width: 100%;
				height: 1px;
				background-color: $color-main;
			}
		}
	}
}
