main {
    .remarkable-news {
        &__item {
            margin-top: 50px;
            &-left {
                height: 0;
                padding-bottom: 65%;
                position: relative;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    min-width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                    @include transform(translate(-50%, -50%) scale(1));
                    @include transition($t);
                }

                &:hover {
                    img {
                        @include transform(translate(-50%, -50%) scale(1.07));
                        @include transition($t);
                    }
                }
                @include sm {
                    padding-bottom: 100%;
                }
                @include xs {
                    padding-bottom: 65%;
                }
            }
            &-right {
                a {
                    text-decoration: none;
                    h2 {
                        word-break: break-word;
                        display: inline;
                        text-align: left;
                        @include text(24px, rb, normal, $color-text, uppercase);
                        @include transition($t);
                    }
                    &:hover {
                        h2 {
                            color: $color-main;
                            @include transition($t);
                        }
                    }
                }
                .des {
                    word-break: break-word;
                    margin: 16px 0;
                    @include text(16px, rr, normal, $color-text-des, normal);
                }
                .time {
                    display: none;
                }
                .details {
                    .btn-main {
                        padding-right: 15px;
                        a {
                            text-transform: uppercase;
                        }
                    }
                    @include xs {
                        display: none !important;
                    }
                }
                @include xs {
                    margin-top: 20px;
                    a {
                        h2 {
                            @include text(
                                18px,
                                rr,
                                24px,
                                $color-text,
                                uppercase
                            );

                            transition: 0.3s;
                            font-weight: 600;
                            @include transition($t);
                        }
                    }
                    &::before {
                        content: "";
                        width: 80px;
                        height: 1px;
                        background-color: $bg-main-red;
                        display: block;
                        margin: 24px 0 20px 0;
                    }
                    .time {
                        color: $color-text-des;
                        font-style: italic;
                        font-size: 12px;
                        font-family: ri;
                        margin: 10px 0;
                        display: block;
                    }
                }
            }
        }
    }
    .news {
        padding-top: 0 !important;

        &__item-header {
            height: 0;
            padding-bottom: 62%;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                @include transform(translate(-50%, -50%) scale(1));
                @include transition($t);
            }
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba($color: #000000, $alpha: 0);
                z-index: 10;
                @include transition($t);
            }
            &:hover {
                img {
                    @include transform(translate(-50%, -50%) scale(1.07));
                    @include transition($t);
                }
                &::before {
                    background: rgba($color: #000000, $alpha: 0.4);
                    @include transition($t);
                }
            }
        }
        &__item-body {
            text-decoration: none;
            position: relative;
            margin-bottom: 5px;
            a {
                text-decoration: none;
            }
            h3 {
                @include text(18px, rr, 24px, $color-text, uppercase);
                transition: 0.3s;
                font-weight: 600;
                @include transition($t);
                word-break: break-word;
            }
            &:hover {
                h3 {
                    color: $color-main;
                    @include transition($t);
                }
            }
            &::before {
                content: "";
                width: 80px;
                height: 1px;
                background-color: $bg-main-red;
                display: block;
                margin: 24px 0 20px 0;
            }
            .time {
                color: $color-text-des;
                font-style: italic;
                font-size: 12px;
                font-family: ri;
                margin: 10px 0;
            }
            .des {
                height: 60px;
                @include overtext(3);
                word-break: break-word;
            }
        }
        @include xs {
            .col-lg-4.col-md-6:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
    .paging {
        margin-top: 40px;
        &__nav {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &-item {
                &:not(:first-child) {
                    margin-left: 10px;
                }
            }
            &-link {
                padding: 8px 14px;
                border-radius: 4px;
                background: transparent;
                text-decoration: none;
                @include transition($t);
                @include text(20px, rb, normal, $color-text-des, normal);
                &:hover {
                    @include transition($t);
                    color: $white-cl;
                    background-color: $bg-main;
                }
                &.is-selected {
                    @include transition($t);
                    color: $white-cl;
                    background-color: $bg-main;
                }
            }
            &::before {
                content: "";
                width: 100px;
                height: 2px;
                display: inline-block;
                background-color: $color-text-des;
                position: relative;
                margin-left: -80px;
                left: -20px;
            }
            &::after {
                content: "";
                width: 100px;
                height: 2px;
                display: inline-block;
                background-color: $color-text-des;
                position: relative;
                margin-right: -80px;
                right: -20px;
            }
            @include sm {
                &::before {
                    width: 60px;
                    margin-left: -30px;
                }
                &::after {
                    width: 60px;
                    margin-right: -30px;
                }
            }
        }
    }
    .share {
        border-left: 1px solid #eee;
        padding-left: 15px;
        span {
            @include text(16px, rr, normal, $color-text, uppercase);
            margin-right: 15px;
        }
        .socials {
            .btn-social {
                text-decoration: none;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: $color-text-light;
                @include mid(true);
                margin-right: 20px;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
                @include transition($t);
                border: 1px solid #eee;
                color: $color-main;
                i {
                    font-size: 20px;
                }

                &:hover {
                    // box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
                    &.fb {
                        color: $white-cl;
                        background-color: #3b5998;
                        @include transition($t);
                    }
                    &.ins {
                        @include transition($t);
                        color: $white-cl;
                        background: #d6249f;
                        background: radial-gradient(
                            circle at 30% 107%,
                            #fdf497 0%,
                            #fdf497 5%,
                            #fd5949 45%,
                            #d6249f 60%,
                            #285aeb 90%
                        );
                    }
                }
            }
        }
        @include sm {
            border-left: initial;
            padding-left: 0;
            margin-top: 20px;
        }
    }
}
