.contact-page {
    .contact {
        margin-top: var(--pdSection);
        h1.title-section {
            @include text(32px, rb, normal, $color-main, uppercase);
            @include sm {
                font-size: 26px;
            }
            @include xs {
                font-size: 24px;
            }
        }
        .des {
            @include text(16px, rr, normal, $color-text-des, none);
            margin: 20px 0;
        }
        .form-contact {
            .form-group {
                margin-top: 20px;
                & > div:first-child {
                    margin-right: 10px;
                }
                &__item {
                    width: calc(100% / 2);
                    // padding: 0 15px;
                    @include xs {
                        width: 100%;
                        margin-bottom: 20px;
                        #lastname,
                        #email {
                            margin-bottom: 0;
                        }
                    }
                }
                label {
                    span {
                        color: red;
                    }
                }
                input,
                select,
                textarea {
                    margin-top: 10px;
                    width: 100%;
                    padding: 10px;
                    color: $color-text;
                    background: transparent;
                    border: 2px solid $color-main;
                    border-radius: 4px;
                    font-size: 16px;
                    &:focus {
                        outline: none;
                    }
                }
                textarea {
                    width: 100%;
                }
                @include xs {
                    display: block !important;
                    input[name="lastname"],
                    input[name="email"] {
                        margin-right: 0px;
                        margin-bottom: 20px;
                    }
                }
            }
            .btn-main {
                margin-top: 20px;
                input {
                    display: inline-block;
                    padding: 13px 29px;
                    background: transparent;
                    border: 1px solid $color-main;
                    font-size: 16px;
                    @include transition($t);
                    background: $bg-light;
                    color: $color-main;
                    position: relative;
                    overflow: hidden;
                    // z-index: 99;
                    cursor: pointer;
                    &:hover {
                        color: $color-text-light;
                        transition: 0.3s;
                        background-color: $color-main;
                    }

                    // &::after {
                    //     content: "";
                    //     width: 100%;
                    //     height: 100%;
                    //     background-color: $color-main;
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     // z-index: -1;
                    //     @include transform(scaleX(0));
                    //     @include transform-origin(left center);
                    //     @include transition(
                    //         $t cubic-bezier(0.82, 0.44, 0.23, 0.86)
                    //     );
                    // }
                    // &:hover {
                    //     color: $color-text-light ;
                    //     transition: 0.3s;
                    //     &::after {
                    //         @include transform(scaleX(1));
                    //         @include transform-origin(right center);
                    //         @include transition(
                    //             $t cubic-bezier(0.82, 0.44, 0.23, 0.86)
                    //         );
                    //     }
                    // }
                }
            }
        }
        .info__item {
            border: 1px solid $color-text-des;
            border-radius: 4px;
            padding: 20px;
            &-title {
                @include text(24px, rb, 28px, $color-main, uppercase);
            }
            h3 {
                font-size: 21px;
                margin-top: 30px;
            }
            &-list {
                li {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    margin: 15px 0;
                    .icon {
                        width: 3%;
                        @include mid(true);
                        i {
                            color: $color-text-des;
                            font-size: 20px;
                        }
                    }
                    a {
                        width: 96%;
                        margin-left: 15px;
                        @include text(16px, rr, 24px, $color-text, initial);
                        text-decoration: none;
                    }
                    &:first-child {
                        margin-top: 15px;
                    }
                }
            }
            &-des {
                @include text(16px, rr, 24px, $color-text, initial);
            }
            @include sm {
                margin-bottom: 40px;
            }
        }
    }
}
