// CSS HOMEPAGE
main {
    .slider {
        margin-top: 80px;
        .swiper-container {
            width: 100%;
            height: 100%;
            .swiper-slide {
                width: 100%;
                text-align: center;
                font-size: 18px;
                background: #fff;

                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                .swiper-slide__slider {
                    width: 100%;
                    height: 100%;
                    &-img {
                        background: #000;
                        width: 100%;
                        height: 0;
                        padding-bottom: 35%;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            object-fit: cover;
                        }
                    }
                    &-title {
                        @include mid(false);
                        margin-top: 30px;
                        h2 {
                            font-size: 20px;
                            font-weight: bold;
                            color: $color-main;
                            font-family: rr;
                            font-size: 80px;
                            @include sm {
                                font-size: 40px;
                            }
                        }
                    }
                }
                @include sm {
                    .swiper-slide {
                        height: 50vh;
                    }
                }
            }
        }
        .btn-slider {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 5px 6px 12px 1px rgba(0, 0, 0, 0.2);
        }
        .swiper-button-prev:after,
        .swiper-container-rtl,
        .swiper-button-next:after {
            font-size: 20px !important;
        }
        @include sm {
            margin-top: 60px;
        }
    }
    .products {
        .swiper-container {
            width: 100%;
            height: 100%;
            margin-top: 50px;
            .swiper-slide {
                .swiper-slide__product {
                    &-img {
                        @include mid(true);
                        img {
                            width: 60%;
                            // filter: drop-shadow(
                            //     -6px 8px 10px rgba(0, 0, 0, 0.2)
                            // );
                            // -webkit-filter: drop-shadow(
                            //     -6px 8px 10px rgba(0, 0, 0, 0.2)
                            // );
                        }
                    }
                    &-title {
                        margin-top: 30px;
                        @include mid(true);
                        flex-direction: column;
                        padding:  0 15px;
                        a {
                            text-decoration: none;
                            h4 {
                                max-width: 350px;
                                word-break: break-word;
                                font-size: 20px;
                                font-weight: bold;
                                text-align: center;
                                color: $color-main;
                                font-family: rr;
                                text-transform: uppercase;
                                @include transition($t);
                            }
                            &:hover {
                                h4 {
                                    color: #42a4d1c2;
                                    @include transition($t);
                                }
                            }
                        }
                        p {
                            max-width: 350px;
                            margin-top: 15px;
                            font-size: 16px;
                            color: $color-text-des;
                            font-family: rr;
                            text-align: center;
                            word-break: break-word;
                        }
                    }
                }
            }
            .swiper-button-next:after,
            .swiper-button-prev:after {
                font-weight: bolder;
            }
            @include sm {
                .swiper-button-next:after,
                .swiper-button-prev:after {
                    font-size: 35px;
                }
            }
            @include xs {
                margin-top: 30px;
                .swiper-slide {
                    .swiper-slide__product {
                        &-img {
                            img {
                                width: 42% !important;
                            }
                        }
                    }
                }
                .swiper-button-next:after,
                .swiper-button-prev:after {
                    font-size: 26px !important;
                }
            }
        }
    }
    .standard {
        &__item-left {
            .title {
                text-align: left;
                word-break: break-word;
            }
            .des {
                max-width: 500px;
                margin: 35px 0;
                font-size: 18px;
                color: $color-text;
                font-family: rr;
                text-align: justify;
            }
            @include xs {
                .des {
                    margin: 20px 0;
                    font-size: 16px;
                }
            }
            @include sm {
                .des {
                    margin: 20px 0;
                    font-size: 16px;
                }
            }
        }
        &__item-right {
            height: 0;
            padding-bottom: 80%;
            overflow: hidden;
            position: relative;

            img {
                width: 90%;
                height: 90%;
                object-fit: cover;
                // filter: drop-shadow(-6px 8px 10px rgba(0, 0, 0, 0.2));
                // -webkit-filter: drop-shadow(-6px 8px 10px rgba(0, 0, 0, 0.2));
                @include mid(false);
                @include transition($t);
            }
            @include xs {
                margin-top: 20px;
            }
            @include sm {
                margin-top: 20px;
            }
        }
    }
    .standard.pd {
        padding-top: 0 !important;
        @include xs {
            .standard__item-right {
                margin-bottom: 20px !important;
            }
        }
        @include sm {
            .standard__item-right {
                margin-bottom: 30px !important;
            }
        }
    }
    .knowledge-posts {
        .container {
            margin-top: 50px;
        }
        &__item {
            &:nth-child(1) {
                padding-right: 30px;
                border-right: 1px solid #eee;
                @include sm {
                    padding-right: 0px;
                    border-right: unset;
                }
            }
        }
        &__item-header {
            height: 0;
            padding-bottom: 62%;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                @include transform(translate(-50%, -50%) scale(1));
                @include transition($t);
            }
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba($color: #000000, $alpha: 0);
                z-index: 10;
                @include transition($t);
            }
            &:hover {
                img {
                    @include transform(translate(-50%, -50%) scale(1.07));
                    @include transition($t);
                }
                &::before {
                    background: rgba($color: #000000, $alpha: 0.4);
                    @include transition($t);
                }
            }
        }
        &__item-body {
            text-decoration: none;
            position: relative;
            margin-bottom: 5px;
            a {
                text-decoration: none;
            }
            h3 {
                @include text(18px, rr, 24px, $color-text, uppercase);
                transition: 0.3s;
                font-weight: 600;
                @include transition($t);
                word-break: break-word;
            }
            &:hover {
                h3 {
                    color: $color-main;
                    @include transition($t);
                }
            }
            &::before {
                content: "";
                width: 80px;
                height: 1px;
                background-color: $bg-main-red;
                display: block;
                margin: 24px 0 20px 0;
            }
            .time {
                color: $color-text-des;
                font-style: italic;
                font-size: 12px;
                font-family: ri;
                margin: 10px 0;
            }
            .des {
                height: 60px;
                @include overtext(3);
                word-break: break-word;
            }
            @include xs {
                h3 {
                    margin-top: 20px;
                }
                // &::before {
                //     display: bloc;
                // }
            }
        }
        &__list {
            a {
                text-decoration: none;
            }
            &-item {
                position: relative;
                border-top: 1px solid #eee;
                padding: 15px 0;
                .knowledge-posts__img {
                    height: 0;
                    padding-bottom: 62%;
                    overflow: hidden;
                    position: relative;
                    margin-bottom: 20px;
                    display: none;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        min-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                        @include transform(translate(-50%, -50%) scale(1));
                        @include transition($t);
                    }
                    &::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba($color: #000000, $alpha: 0);
                        z-index: 10;
                        @include transition($t);
                    }
                    &:hover {
                        img {
                            @include transform(
                                translate(-50%, -50%) scale(1.07)
                            );
                            @include transition($t);
                        }
                        &::before {
                            background: rgba($color: #000000, $alpha: 0.4);
                            @include transition($t);
                        }
                    }
                    @include xs {
                        display: block;
                    }
                }
                .title-post {
                    @include text(18px, rr, 24px, $color-text, uppercase);
                    font-weight: 600;
                    word-break: break-word;
                }
                .des {
                    height: 40px;
                    font-size: 16px;
                    word-break: break-word;
                    @include overtext(2);
                }
                .time {
                    color: $color-text-des;
                    font-style: italic;
                    font-size: 12px;
                    font-family: ri;
                    margin: 6px 0;
                }

                &:first-child {
                    border-top: unset;
                    padding-top: unset;
                }
            }
            a:hover {
                h3 {
                    color: $color-main;
                    @include transition($t);
                }
            }
            .item-body {
                &::before {
                    content: "";
                    width: 80px;
                    height: 1px;
                    background-color: $bg-main-red;
                    display: none;
                    margin: 24px 0 20px 0;
                }

                @include xs {
                    &::before {
                        display: block;
                    }
                }
            }
        }
        @include xs {
            &__item,
            &__list {
                margin-top: 20px;
            }
        }
        @include sm {
            &__item,
            &__list {
                margin-top: 30px;
            }
        }
    }
}

:root {
    --swiper-theme-color: #218ab9 !important;
}
