.introduce-page {
    .introduce {
        &__img {
            position: relative;
            height: 0;
            overflow: hidden;
            padding-bottom: 35%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include mid(false);
            }
        }
        &__content {
            &-title {
                @include text(24px, rb, 28px, $color-main, uppercase);
                margin: 20px 0;
            }
            &-body {
                p {
                    @include text(16px, rr, 24px, $color-text, none);
                    margin-bottom: 15px;
                    text-align: justify;
                }
            }
            .subtitle {
                @include text(18px, rb, 24px, $color-text, uppercase);
            }
            &-img {
                @include mid(true);
                img {
                    width: 80%;
                    height: 100%;
                }
            }
        }
    }
}
