.product-page {
    margin-top: 80px;
    .product-all {
        .title {
            margin-top: var(--pdSection);
            margin-bottom: 50px;
        }
        &__item {
            padding: 30px;
            border: 1px solid $color-main;
            @include transition($t);
            border-radius: 4px;
            margin-bottom: 30px;
            &-img {
                position: relative;
                height: 0;
                overflow: hidden;
                padding-bottom: 135%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include mid(false);
                    // filter: drop-shadow(-6px 8px 10px rgba(0, 0, 0, 0.4));
                    // -webkit-filter: drop-shadow(
                    //     -6px 8px 10px rgba(0, 0, 0, 0.4)
                    // );
                }
            }
            &-text {
                a {
                    text-decoration: none;
                    h3 {
                        word-break: break-word;
                        margin-top: 20px;
                        @include transition($t);
                        @include text(24px, rb, normal, $color-main, uppercase);
                    }
                    &:hover {
                        h3 {
                            color: #42a4d1c2;
                            @include transition($t);
                        }
                    }
                }
                .des {
                    @include text(16px, rr, normal, $color-text-des, normal);
                    margin: 20px 0;
                    @include overtext(3);
                    height: 60px;
                    word-break: break-word;
                }
            }
            &:hover {
                @include transition($t);
                background-color: #eefaff;
                border: 1px solid $color-main;
            }
        }
    }
}
