.product-details-page {
    .product-details {
        .container {
            margin-top: var(--pdSection);
        }
        &__item {
            &-gallery {
                .swiper-container {
                    width: 100%;
                    // height: 300px;
                    margin: 0;
                }
                .swiper-wrapper {
                    // @include mid(true);
                    // display: flex;s
                    // align-items: center;
                }

                .gallery-top {
                    // height: 80%;
                    width: 100%;
                    height: 100%;
                    .show-product {
                        height: 100%;
                        .swiper-slide {
                            position: relative;
                            height: auto;
                            padding: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                height: auto;
                                object-fit: cover;
                                // filter: drop-shadow(
                                //     0px 0px 6px rgba(0, 0, 0, 0.5)
                                // );
                                // -webkit-filter: drop-shadow(
                                //     0px 0px 6px rgba(0, 0, 0, 0.5)
                                // );
                            }
                        }
                    }
                }
                .gallery-thumbs .swiper-slide {
                    width: 20%;
                    height: 100%;
                }
                .gallery-thumbs {
                    height: 20%;
                    box-sizing: border-box;
                    padding: 10px 0;
                }
                .gallery-thumbs .swiper-slide {
                    @include mid(true);
                }
                .gallery-thumbs .swiper-slide {
                    overflow: hidden;
                    height: 0;
                    padding-bottom: 30%;
                    position: relative;
                    img {
                        width: 90%;
                        height: 90%;
                        object-fit: contain;
                        @include mid(false);
                        // filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.5));
                        // -webkit-filter: drop-shadow(
                        //     0px 0px 6px rgba(0, 0, 0, 0.5)
                        // );
                    }
                }
                .swiper-button-next, .swiper-button-prev{
                    width: fit-content;
                    top: 87%;
                }
                .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
                    left: -10px;
                    @include xs {
                        left: 2px;
                    }
                }
                .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
                    right: -10px;
                    @include xs {
                        right: 2px;
                    }
                }
                .swiper-button-next:after, .swiper-button-prev:after{
                    font-size: 30px;
                    @include xs {
                        font-size: 20px;
                    }
                }
                .gallery-thumbs .swiper-slide-thumb-active {
                    border: 1px solid $color-main;
                }
            }

            .title-tabs {
                margin: 50px 0;
                a {
                    text-decoration: none;
                    @include text(16px, rr, normal, $color-main, uppercase);
                    background-color: transparent;
                    border: 1px solid $color-main;
                    padding: 14px;
                    display: inline-block;
                    border-radius: 30px;
                    cursor: pointer;
                    position: relative;
                    @include transition($t);
                    overflow: hidden;
                    z-index: 5;
                    &:not(:first-child) {
                        margin-left: 10px;
                    }
                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: $color-main;
                        border-radius: 30px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -11;
                        @include transform(scaleX(0));
                        @include transform-origin(left center);
                        @include transition(
                            $t cubic-bezier(0.82, 0.44, 0.23, 0.86)
                        );
                    }
                    &:hover {
                        color: $color-text-light;
                        transition: 0.3s;
                        &::after {
                            border-radius: 30px;
                            @include transform(scaleX(1));
                            @include transform-origin(right center);
                            @include transition(
                                $t cubic-bezier(0.82, 0.44, 0.23, 0.86)
                            );
                        }
                    }
                    &.active {
                        border-radius: 30px;
                        color: $color-text-light;
                        transition: 0.3s;
                        &::after {
                            @include transform(scaleX(1));
                            @include transform-origin(right center);
                            @include transition(
                                $t cubic-bezier(0.82, 0.44, 0.23, 0.86)
                            );
                        }
                    }
                }
                @include sm {
                    // padding: 9px 12px;
                    // font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-direction: column;
                    a:not(:first-child) {
                        margin-left: 0px;
                        margin-top: 15px;
                    }
                }
                @include xs {
                    margin: 30px 0;
                }
            }
            &-content {
                .title-page {
                    @include text(32px, rb, normal, $color-main, uppercase);
                    word-break: break-word;
                }
                .title-product {
                    h2 {
                        margin: 20px 0;
                        font-weight: 600;
                        @include text(28px, rr, normal, $color-main, uppercase);
                        word-break: break-word;
                    }
                    p {
                        @include text(24px, rr, normal, $color-main, none);
                        word-break: break-word;
                    }
                }
                h3 {
                    @include text(24px, rr, normal, $color-main, none);
                    margin: 20px 0 30px 0;
                    word-break: break-word;
                }
                .des {
                    word-break: break-word;
                    @include text(16px, rr, 24px, $color-text-des, none);
                }
                @include xs {
                    .title-page {
                        font-size: 24px;
                    }
                    .title-product {
                        h2 {
                            font-size: 20px;
                        }
                        p {
                            font-size: 18px;
                        }
                    }
                    h3 {
                        font-size: 18px;
                    }
                    .des {
                        font-size: 14px;
                    }
                }
            }
        }
        .content-tabs {
            margin-top: 50px;
            .content {
                display: none;
                .title {
                    width: 100%;
                    margin-bottom: 30px;
                    text-align: left;
                    position: relative;

                    h2 {
                        width: 100%;
                        display: inline;
                        background-color: #fff;
                        z-index: 99;
                        font-size: 28px;
                        word-break: break-word;

                        &::before {
                            display: none;
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        bottom: 7px;
                        width: 100%;
                        height: 1px;
                        background-color: $color-main;
                    }
                }
                .text {
                    padding: 0 50px;
                }
                .download {
                    display: inline-flex;
                    align-items: center;
                    border: 1px solid #eee;
                    padding: 10px 15px;
                    margin: 15px 50px;
                    background: rgb(250, 253, 255);
                    h4 {
                        @include text(16px, rb, none, $color-text, none);
                        margin-right: 20px;
                    }
                    @include sm {
                        display: block;
                        h4 {
                            margin-bottom: 15px;
                        }
                    }
                    @include xs {
                        margin: 15px 20px;
                        display: block;
                        h4 {
                            margin-bottom: 15px;
                        }
                    }
                }
                // .img-content {
                //     margin: 15px 0;
                //     width: 100% !important;
                //     height: 0;
                //     overflow: hidden;
                //     position: relative;
                //     padding-bottom: 100%;
                //     img {
                //         width: 100% !important;
                //         height: 100%;
                //         object-fit: cover;
                //         @include mid(false);
                //     }
                // }
                &.active {
                    display: block;
                }
            }
            @include xs {
                margin-top: 30px;
                .content {
                    display: none;
                    .title {
                        width: 100%;
                        margin-bottom: 30px;
                        text-align: left;
                        position: relative;
                        h2 {
                            font-size: 18px;
                        }
                        &::before {
                            bottom: 5px;
                        }
                    }
                    .text {
                        padding: 0 20px;
                        text-align: justify;

                        .img-content {
                            position: relative;
                            height: 0;
                            overflow: hidden;
                            padding-bottom: 80%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                @include mid(false);
                            }
                        }
                    }
                }
            }
        }
    }
    .products {
        border-top: 1px solid #eee;
        .title {
            width: 100%;
            margin-bottom: 30px;
            text-align: left;
            position: relative;
            h2 {
                width: 100%;
                display: inline;
                background-color: #fff;
                z-index: 99;
                &::before {
                    display: none;
                }
            }
            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                left: 0;
                bottom: 8px;
                width: 100%;
                height: 1px;
                background-color: $color-main;
            }
        }
    }
}
