.recruitment {
    .title {
        margin-bottom: 50px;
    }
    &__item {
        border: 1px solid #eee;
        padding: 30px 40px;
        background-color: rgb(250, 253, 255);
        margin-bottom: 20px;
        flex-wrap: wrap;
        a {
            text-decoration: none;
            h2 {
                text-transform: uppercase;
                font-family: rr;
                font-size: 20px;
                font-weight: 600;
                color: $color-text;
                @include transition($t);
            }
            &:hover {
                h2{
                    color: $color-main;
                    @include transition($t);
                }
            }
        }
        .place {
            font-family: rr;
            font-size: 16px;
            font-weight: 600;
            color: $bg-main;
            margin: 15px 0;
        }
        .date {
            color: gray;
            font-family: rr;
            font-size: 16px;
        }
        @include sm {
            padding: 15px 20px;
            .btn-main {
                margin-top: 15px;
            }
        }
    }
}

.not-found{
    .box{
        border: 2px solid $color-main;
        padding: 40px 50px 60px 50px;
        width: 40%;
        margin: auto;
        margin-bottom: 40px;
        border-radius: 10px;
        h2{
            text-align: center;
            font-size: 92px;
            color: $color-main;
            font-weight: 600;
        }
        p{
            margin-top: 20px;
            text-align: center;
            font-size: 40px;
            color: $color-main;
            font-weight: 600;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                width: 50%;
                background-color: $bg-main;
                display: inline-flex;
                
            }
        }
        @include xs{
            width: 92%;
            padding: 40px;
            p{
                font-size: 30px;
            }
        }
    }
    .text{
        margin-top: 50px;
        text-align: center;
        h3{
            text-align: center;
            font-size: 20px;
            color: $color-text;
            font-weight: 600;
        }
        .btn-main{
            margin-top: 30px;
        }
    }
}